
*{color:#b3b3b3;}


#alay1{ border: 1px olid black; height:600px;; width: 100%; display: flex; justify-content:flex-end;  align-items: center; background-image: url(images/aboutimg.jpg); background-attachment: fixed;}
#content{display: flex; justify-content: center; align-items: center; flex-direction: column; position: relative; left: -200px; bottom:50px;}
#content img{width: 200px;}
#alay1 h1{ color: #b3b3b3; font-size: 300%}
#alay1 h2{ color: #b3b3b3; font-size: 200%; margin-top: -20px}
.alay2{ background-color: white;width: 70%; heigt: 500px; display: flex; justify-content:center;  align-items: center; flex-direction: column; margin: 40px auto;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.alay2 span{ color: #967adc;}
.alay2 h1{ font-size: 400%; margin: 0px; color: #8D99AE;}
.alay2 p{color: #8D99AE; font-size: 250%; text-align: justify; width: 70%; padding: 40px; position: relative; background-image: url(images/arrowup.png), url(images/arrowdown.png); background-repeat: no-repeat; background-position: 0% 0%, 100% 100%; transition: background-position 1s;}

#abg{z-index: -1; position: absolute;  height: 2000px; top:200px; left: -320px;width: 100%}

@media screen and (max-width:480px){ 
    .alay2 {width: 90%; height: 400px;}
    .alay2 h1{font-size: 200%;}
    .alay2 p{font-size: 130%; background-image: url(images/arrowups.png), url(images/arrowdowns.png); background-position: 5% 5%, 95% 95%; }
    #abg{z-index: -1; position: absolute;  height: 1500px; top:600px; left:-30px;}
    #alay1{justify-content: center; background-position: -350px -170px;} 
    #alay1 h1{font-size: 250%;}
    #alay1 h2{font-size: 150%; text-align: center;}
     #alay1 img{width: 200px;}
    #content{position: static; }
       
}


@media screen and (min-width:480px) and (max-width:900px)
{
    .alay2 {width: 90%; height: 400px;}
    .alay2 h1{font-size: 300%;}
    .alay2 p{font-size: 200%;}
    #abg{z-index: -1; position: absolute;  height: 1000px; top:600px}
    #alay1{justify-content: center; background-position: -250px -150px;} 
    #alay1 h1{font-size: 250%;}
    #alay1 h2{font-size: 200%;}
     #alay1 img{width: 250px;}
    #content{position: static; }
    
}
